<footer class="footer">
    <div class="contact">
       
       <p>Empowering Learners, Transforming Futures</p>
       <p >Email:flopeacademy@gmail.com</p>
       <p>&copy; 2024 Flope Academy. All rights reserved.</p>
    </div>
   
    </footer>