<footer class="footer">
    <div class="contact">
       <p style="margin-bottom:0.3rem;">Email:flopeacademy@gmail.com</p>
       <p>Empowering Learners, Transforming Futures</p>
       <p>Adress: 27 Muranga</p>
    </div>
    <div class="policy" >
       <p>Terms and Conditions</p>
       <p>Privacy Policy</p>
    </div>
    </footer>