<section>
    <div class="sidebar-trigger-zone" onclick="toggleSidebar()"></div>
    <div class="sidebar">
       <h1>Flope Academy</h1>
       <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/courses">Courses</a></li>
          <li><a href="/about">About Us</a></li>
       </ul>
    </div>
 </section>
 